.list{
margin: 10px;
position: relative;

}

.columns{
  text-align: center;
  text-shadow: 1;
  font-style: inherit;
  font-size: large;
  text-decoration: solid;


}

.innerCol{
  text-align: center;
  color: rgb(120, 112, 113);
}
