<div class="list">
  <div class = "row">
    <h2 style="text-align: center; text-shadow: 5; color: brown;"><strong>Flight List</strong></h2>
  </div>

  <table class = "table table-striped table-bordered">
    <thead>
        <tr class="columns">
            <th> Sr. No</th>
            <th> Operator Name </th>
            <th> Departure City</th>
            <th> Arival City </th>
            <th> Price </th>
            <th> Seating Capacity </th>
            <!-- <th> Actions</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let flight of flights; " class="innerCol">
            <td> {{ flight.flightId }} </td>
            <td> {{ flight.operatorName }} </td>
            <td> {{ flight.departureCity }} </td>
            <td> {{ flight.arivalCity }} </td>
            <td> {{ flight.price }} </td>
            <td> {{ flight.seatingCapacity }} </td>
            <!-- <td>
                <button class = "btn btn-warning"> Update</button>
                <button class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button class = "btn btn-primary" style="margin-left: 10px"> View</button>
            </td> -->
        </tr>
    </tbody>
  </table>

</div>
