<div class="register">
  <form action="action_page.php" method="post">

    <div class="container">
      <label for="uname"><b>First Name</b></label>
      <input type="text" placeholder="Enter First Name" name="uname" required>

      <label for="uname"><b>Last Name</b></label>
      <input type="text" placeholder="Enter Last Name" name="uname" required>

      <label for="uname"><b>Email Id</b></label>
      <input type="text" placeholder="Enter Email Id" name="uname" required>

      <label for="uname"><b>Contact Number</b></label>
      <input type="text" placeholder="Enter Contact Number" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn" (click)="goBack()">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>

</div>
