.flightbooking-home{

    button{
        margin: 10px;
    }
  
}
.buttons-right-side{
    position: absolute;
    right: 0;
}


.centre-div{
  
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        
}