

  <div class="flightbooking-home d-flex bg-info text-right">
      <span class="text-white p-3">Flight Bookigs</span>
      <div class="text-right">
      <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" (click)="loginPage()">
        Login
      </button>
      <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" (click)="registrationPage()">
        Register
      </button>
    </div>
  </div>
<div class="centre-div">
    <h5>Welcome to Flight Booking.......</h5>
</div>
 